/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url('https://images.unsplash.com/photo-1556594472-e9b933db923c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80');
  background-repeat: no-repeat;
  background-size:cover;
  
}

img{
  max-width: 100%;
   display: block;
  margin: 0 auto; 
  border-radius: 14%;
  border: 3px solid black;
}
div{
 text-align: center;
 color: rgb(94, 52, 13);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
